p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats{
    font-size: 13px;
    color: rgb(100, 100, 100);
    width: 300px;
    line-height: 18px;
    margin-bottom: 20px;
}
.video-author{
    font-size: 13px;
    color: rgb(100, 100, 100);
    width: 300px;
    line-height: 18px;
    margin-bottom: 20px;
}
.video-description{
    margin-top:0;
    font-size: 13px;
    color: rgb(100, 100, 100);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(255, 32, 32);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;

}
.shop-link:hover{
    text-decoration: underline;
    cursor: pointer;
}